/* Gets rid of all margin and padding globally.
border-box for convenience. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start of the top section */
.top {
    background-color: #1F2937;
    padding: 0 9em;
}

.top .text {
    font-size: 18px;
    color: #E5E7EB;
}

#header-logo {
    font-size: 24px;
    margin-right: auto;
}

.header-one {

    padding: .5em 0;
    display: flex;
    flex-wrap: wrap;
}
.link-up {
    margin: 0 .8em;
    text-decoration: none;
}
#link-three {
    margin-right: 0;
}
#title,
#header-logo {
    color: #F9FAF8;
}

.hero #title {
    font-size: 48px;
    font-weight: bolder;
}

.hero {
    padding: 3.5em 0;
    display: flex;
    flex-wrap: wrap;
}
.hero-text {
    padding: 1em 0;
}

.hero-text .text {
    margin: .5em 0;
}

button {
    border-radius: 0.7em;
    padding: .5em 2.5em;
    background-color: #3882F6;
}

#placeholder {
    margin-left: auto;
}

/* end of the top section */


/* start of the middle section */
.middle {

    display: flex;
    flex-direction: column;
    align-items: center;

}
#random-info {
    font-size: 34px;
    padding: 1em;
}
.pictures {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 5em;
}

.first {
    text-align: center;
    /* margin: 1.5em; */
    /* border: 1px solid blue; */
    flex: 0 1 180px;

}

/* end of the middle section */

/* start of the quote section */
#quote {
    background-color: #E5E7EB;
    padding: 5em 15em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#qText {
    font-size: 1.7em;
}

#name {
    margin-left: auto;
}
/* end of the quote section */

/* start of the call to action section */

#call {
    background-color: white;
    padding: 4em 10em;
}
#cText {
    border-radius: .5em;
    background-color: #3882F6;
    color: white;
    padding: 2em 7em;
    display: flex;

}
#cButton {
    margin-left: auto;
    border-color: #E5E7EB;
    color: white;
}
/* end of the call to action section */

/* footer */
footer {
    background-color: #1F2937;
    padding: 2em 0;
}

footer p {
    color: #E5E7EB;
    text-align: center;
}